* {
    margin : 0;
    padding : 0;
    box-sizing: border-box;  /* Changing the box model so that it makes layour more predictable */ 
    text-decoration: none;   /* Removes under line and other text- decoration from text */ 
    scroll-behavior: smooth; 
    font-family: "Poppins"; /* imports google fonts*/
}
/* CSS variables */
:root { /* It is a pseudo class representing the top level element <html> also used to define CSS variable*/
    --bg-color: black; /* its a dark background color */
    --second-bg-color:rgba(96, 93, 93, 0.911); /* slightly lighter background color */
    --text-color: white; 
    --main-color: #ea580c;
}
/* HTML element styling */
html {
    font-size:60%; /* 50% = 8px, 1 rem = 8px*/
    overflow-x: hidden; /* hides horizontal scroll bar */
}
body {
    background: var(--bg-color); /* background color */
    color: var(--text-color); /* text color */
}
.header { /* class selector(.) is used to select class */
    position: fixed; /* keeps the header visible at the top when scrolling */
    width:100%; /* Ensure header stretches to full screen */
    height:15%;
    top:0; /* anchor the header to top corner */
    left:0; /* Anchor the header to left corner */
    padding: 1rem 10%; /* add space inside the header top/bottom 4rem, left/right 15% */
    background:url("Images/xy.jpg");
    backdrop-filter: blur(10px); /* blurs the background */
    z-index: 100; /* ensures header is on top of other elements */
    display: flex; /* Makes layout flexible for child elements like logo and nav. */
    justify-content: space-between; /* space between logo and nav */
    align-items: center; /* Vertically aligns items in the center*/
}
.profile-img {
  width: 80px; 
  height: 100px;
  border-radius: 25%;
  margin-right: 1.5rem;
}
#menu-icon { /* id selector(#) is used to select id */
    font-size: 3.5rem; /* font size of the menu icon */
    color:var(--main-color);
    display:none; /* hides the menu icon */
}
.logo {
    font-size: 3rem; /* font size of the logo */
    color: var(--text-color); /* color of the logo */
    font-weight: 600; /* font weight of the logo */
    cursor:pointer;
    transition: 0.3s ease-in-out; /* smooth transition for hover effect */
}
.logo:hover {
    transform: scale(1.1); /* scales the logo on hover */
}
.logo span {
    font-size: 3rem; /* Adjust as needed */
    font-weight: bold;
    background: linear-gradient(170deg, #f90303, #f3f2f4);
    background-clip: text;
    -webkit-text-fill-color: transparent;   
}
.navbar a {
    font-size: 1.8rem;
    color: var(--text-color);
    margin-left:6rem;
    font-weight:700;
    transition:0.3s ease-in-out;
    border-bottom: 3px solid orange;
}
.navbar a:hover {
    color: var(--main-color); /* changes color on hover */
    border-bottom: 3px solid var(--main-color); /* changes border color on hover */
}
.gradient-btn {
    font-size: 1.8rem;
    font-weight: bold;
    padding: 1rem 2rem;
    border-radius: 3rem;
    background: linear-gradient(90deg, #f95103d0, #fdaa04);
    letter-spacing: 1px;
    cursor: pointer;
    transition:0.3 ease-in-out;
    color: white;
    border: none;
    text-wrap: nowrap;
}
.gradient-btn:hover {
    transform: scale(1.05); /* scales the button on hover */
}
section{
    min-height:100vh;
    padding:10rem 15%;
}
.home{
    display:flex;
    align-items:center;
    justify-content:center;
    gap:12rem;
}
.home-content{
    display:grid;
    flex-direction:column;
    align-items: center;
    text-align:left;
}
.home-content h1{
    font-size: 7rem;
    font-weight:500;
    margin-top:1.5rem;
    line-height:1;
}
.home-content h2{
    font-size: 6rem;
    font-weight:400;
    margin-top:1.5rem;
    line-height:1;
}
.home-content h3{
    margin:1rem;
    font-size: 4rem;
    background: linear-gradient(170deg, #0637facf, #f3f2f4);  
}
.home-content h3:hover{
    box-shadow:#0699fa 0px 0px 20px;  
}
.home-img img{
    width:27vw;
    border: radius 30%;
    box-shadow: 0 0 25px var(--main-color);
}
.home-img img:hover{
    box-shadow: 0 0 25px rgb(248, 247, 247),
    0 0 50px var(--main-color),
    0 0 100px var(--main-color);
}
.social-icons a{
    display:inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    padding:1rem;
    background:transparent;
    border: 3px solid rgba(250, 177, 6, 0.931);
    border-radius: 49%;
    color:white;
    margin:4rem 0.9rem;
    transition: 0.3s ease-in-out;
}
.social-icons a:hover{
    color: var(--text-color);
    background: rgb(7, 178, 246);
    transform:scale(1.2)translate(-5px);
    box-shadow: 0 0 25px var(--main-color);
}
.btn-group{
    display: flex;
    gap: 1.5rem;
}
.btn{
    display:inline-block;
    padding: 1rem 3rem;
    background-color:rgb(17, 13, 1);
    box-shadow: 0 0 25px var(--main-color);
    border-radius: 3rem;
    font-size:2rem;
    color:#030000;
    border: 2px solid transparent;
    font-weight:700;
    transition: 0.3s ease-in-out;
}
.btn:hover{
    transform:scale(1.05);
    box-shadow: 0 0 25px var(white),
    0 0 50px var(white); 
}
.btn-group a:nth-of-type(1){
    background-color:orange;
    color:var(white);
    border: 2px solid var(--main-color);
    box-shadow: 0 0 25px var(--main-color);
}
.btn-group a:nth-of-type(1):hover{
    background-color:var(--main-color);
    color:white;
    box-shadow: 0 0 25px var(--main-color);
}
.btn-group a:nth-of-type(2){
    background-color:orange;
    color:var(orange);
    border: 2px solid var(--main-color);
    box-shadow: 0 0 25px var(--main-color);
}
.btn-group a:nth-of-type(2):hover{
    background-color:var(--main-color);
    color:white;
    box-shadow: 0 0 25px var(--main-color);
}
.about{
    display:flex;
    align-items:center;
    justify-content:center;
    gap:10rem;
    background: var(--second-bg-color);
}
.about-img img{
    width:27vw;
    border:50%;
    box-shadow: 0 0 25px var(--main-color);
    transition: 0.4s ease-in-out;
}
.about-img img:hover{
    box-shadow: 0 0 25px var(--main-color),
    0 0 50px var(--main-color),
    0 0 100px var(--main-color);
}   
.about-content h2{
    font-size: 7rem;
    text-align:left;
    color: #f3f2f4;
    font-weight:400;
} 

.about-content p{
    font-size: 1.8rem;;
}
.about-content .btn{
    margin:3rem 0;
    padding: 1rem 3rem;
    background-color:rgba(249, 167, 4, 0.944);
    box-shadow: 0 0 25px var(--main-color);
    border-radius: 3rem;
    font-size:2rem;
    color:#030000;
    border: 2px solid transparent;
    font-weight:700;
    transition: 0.3s ease-in-out;

}
::-webkit-scrollbar{
    width:15px;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(250, 180, 4);
}
::-webkit-scrollbar-track{
    background-color:black;
}
.heading{
    text-align:center;
    font-size: 6rem;
    margin:3rem 0;
}
.skills{
    background-color:black;
    color: rgb(6, 6, 6);
}
.skills h2{
    color:var(--text-color);
}
.skills-container{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 3rem;
    align-items: center;
}
.skill-box{
    display:flex;
    justify-content: Center;
    align-items: center;
    background-color: rgb(255, 179, 3);
    height:500px;
    border-radius: 3rem;
    cursor:pointer;
    transition: 0.3s ease-in-out;
    border:4px solid transparent;
}
.skill-box:hover{
    background:lightgoldenrodyellow;
    color:orange;
    border:5px solid rgb(245, 201, 3);
    transform:scale(1.05); ;
}
.skill-info{
    display:flex;
    flex-direction:column;
    text-align:center;
    justify-content: center;
    align-items: center;
    padding:5rem;
}
.skill-info h3{
    font-size: 4.5rem;
    margin: 3rem 0;
    font-weight: 700;
}
.skill-info p{
    font-size: 1.6rem;
    font-weight:600;
    line-height:1.6;
}
.skill-info i{
    font-size: 7.8rem;
}
.projects{
    background-color:rgb(5, 5, 5);
}
.projects-box{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    gap: 3rem;
    place-items: center;
    gap:3rem;
    row-gap:5rem;  
}
.project-card{
    height:600px;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    background-color: rgb(6, 6, 6);
    border-radius: 5rem;
    padding: 5rem 3rem;
    border:2px solid orange;
    gap:2rem;
    overflow:hidden;
    transition: 0.3s ease-in-out;
    cursor:pointer;
}
.project-card:hover{
    box-shadow: 0 0 25px var(--main-color),
    0 0 50px var(--main-color);
    transform:scale(1.03);
}
.project-card img{
    max-width:200px;
    border-radius: 2em;
    object-fit:cover;
    display:flex;
    justify-content: Center;
    align-items: center;
}
.project-card h3{
    font-size: 3rem;
    color:rgb(246, 244, 244);
}
.project-card p{
    font-size: 1.5rem;
} 
.project-card .btn{
    margin:3rem 0;
    padding: 1rem 3rem;
    background-color:white;
    box-shadow: 0 0 15px rgb(241, 241, 238);
    border-radius: 3rem;
    font-size:2rem;
    color:#030000;
    border: 2px solid rgb(252, 214, 2);
    font-weight:700;
    transition: 0.3s ease-in-out;
}  
  .contact{
    background-color: black;
  }
.contact h2{
    margin-bottom: 6rem;
    color: white;
}
.contact span{
    color:var(--text-color);
}
.contact form{
    display:flex;
    align-items: center;
    justify-content: center;
    gap:3rem;
    margin: 3rem 0;  
}
.contact form .input-box input,
.contact form textarea{
    width: 100%;
    padding: 2.5rem;
    border-radius: 2rem;
    border: 2px solid var(orange);
    background-color: white;
    color: orange;
    font-size: 18px;
    margin:2.5rem 0;
    resize:none;
}
.footer{
    background-color: rgba(249, 164, 5, 0.959);
    padding: 30px 0;
}
.footer .social-icons{
    text-align:center;
}
.footer ul{
    text-align:center;
    font-size:1.8rem;
}
.footer ul li{
    display:inline-block;
    margin-left:20px;
}
.footer ul li a{
    color:white;
    border-bottom:3px solid transparent;
    transition:0.3s ease-in-out;
}
.footer ul li a:hover{
 border-bottom: 3px solid var(--main-color);   
}
.footer .copyright{
    text-align:center;
    font-size:16px;
    margin-top:15px;
}

    
    
